/*-- -------------------------- -->
<---            FAQ             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #faq-326 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: calc(700 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
        }

        .cs-faq-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-faq-item {
            list-style: none;
            width: 100%;
            background-color: #f7f7f7;
            /* clips all corners of the button that overlap the rounded border */
            overflow: hidden;
            border-radius: calc(12 / 16 * 1rem);
            transition: border-bottom 0.3s;

            &.active {
                .cs-button {
                    background-color: var(--primary);
                    color: var(--bodyTextColorWhite);
                    &:before {
                        background-color: var(--secondaryLight);
                        transform: rotate(315deg);
                    }
                    &:after {
                        background-color: var(--secondaryLight);
                        transform: rotate(-315deg);
                    }
                }
                .cs-item-p {
                    height: auto;
                    /* 20px - 24px top & bottom */
                    /* 16px - 24px left & right */
                    padding: clamp(1.25rem, 1.3vw, 1.5rem)
                        clamp(1rem, 2vw, 1.5rem);
                    opacity: 1;
                }
            }
        }

        .cs-button {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            text-align: left;
            font-weight: bold;
            /* 16px - 20px */
            padding: clamp(1rem, 1.3vw, 1.25rem);
            background-color: #f7f7f7;
            border: none;
            color: var(--headerColor);
            display: block;
            width: 100%;
            position: relative;
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                cursor: pointer;
            }

            &:before {
                /* left line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: calc(24 / 16 * 1rem);
                transform: rotate(45deg);
                /* animate the transform from the left side of the x axis, and the center of the y */
                transform-origin: left center;
                transition: transform 0.5s;
            }

            &:after {
                /* right line */
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(2 / 16 * 1rem);
                background-color: var(--headerColor);
                opacity: 1;
                border-radius: 50%;
                position: absolute;
                display: block;
                top: 50%;
                right: calc(21 / 16 * 1rem);
                transform: rotate(-45deg);
                /* animate the transform from the right side of the x axis, and the center of the y */
                transform-origin: right center;
                transition: transform 0.5s;
            }
        }

        .cs-button-text {
            width: 80%;
            display: block;
        }

        .cs-item-p {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            width: 90%;
            height: 0;
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            opacity: 0;
            color: var(--bodyTextColor);
            /* clips the text so it doesn't show up */
            overflow: hidden;
            transition:
                opacity 0.3s,
                padding-bottom 0.3s;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #faq-326 {
            .cs-topper {
                color: var(--primary);
            }

            .cs-title,
            .cs-item-p {
                color: var(--bodyTextColorWhite);
            }

            .cs-faq-item {
                background-color: var(--accent);
                &.active {
                    .cs-button {
                        background-color: #f7f7f7da;
                        color: var(--primary);
                        &:before,
                        &:after {
                            background-color: var(--primary);
                        }
                    }
                }
            }

            .cs-button {
                background-color: var(--accent);
                color: var(--bodyTextColorWhite);
                &:before,
                &:after {
                    background-color: var(--bodyTextColorWhite);
                }
            }
        }
    }
}